body {
	background-image: url("pics/flagBackground.png")
}

h1 {
	margin-top: 20px;
	font-family: 'Holtwood One SC';
	font-size: 40px;
    text-align: center;
}

#picture {
    width: 100%;
    text-align: center;
}

#chuck-image {
	height: 40%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 15px;
}

#joke {
    width: 50%;
    padding-top: 27px;
    font-size: 23px;
    font-family: 'Headland One';
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: center;
}

#button-container {
    width: 100%;
    text-align: center;
}

#refresh-button {
	width: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

#button-image {
    width: 40px;
}
